* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
#icon {
  display: flex;
  justify-content: end;
}
.nav .dropmenu {
  display: none;
  cursor: pointer;
  color: #108f6e;
}
.navigation-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  left: 0%;
  z-index: 10;
}
.navigation-box li {
  list-style-type: none;
}
.navigation-box li a {
  text-decoration: none;
  color: #051951;
}
.navigation-box li :hover {
  color: #f15b6c;
  transition: 0.3s;
}
.count2 {
  position: absolute;
  right: -7px;
  top: -5px;
  background: #303451;
  width: 21px;
  height: 21px;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 12px;
  border-radius: 50%;
}
.About {
  margin-top: 150px;
}
.box-shadow:hover{
  box-shadow: 10px 10px 10px #eee;
}
.three {
  padding: 0;
  background-image: url("../img/map.png");
}
.footer {
  background-image: url("../img/map.png");
  background-color: #108f6e;
}
.four {
  background-image: url("../img/pattern-2.png");
  padding: 30px 0;
}
.four h2 {
  font-size: 20px;
}
.four .parent {
  padding: 50px;
}
.four .parent img {
  width: 130px;
  border-radius: 50%;
  background: #108f6e;
}
.four .parent p {
  margin-top: 10px;
  color: #b1b3b3;
}
.last-slider {
  border: 5px double #999;
}
.last-slider:hover {
  border: 5px double #108f6e;
}
.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.footer-button .button {
  padding: 10px 20px;
  border: 1px solid black;
  width: auto;
  color: #989898;
  background-color: white;
}
::placeholder {
  color: rgb(200, 195, 195);
}
.footer-button .button:hover {
  background-color: #108f6e;
  color: white;
  outline: none;
  border: 1px solid #108f6e;
}
@media (max-width: 1000px) {
  * {
    font-size: 1.2rem;
  }
  .nav .navigation-box {
    position: absolute;
    background-color: #108f6e;
    width: 100%;
    left: -100%;
    height: 0;
    overflow: hidden;
    top: 235px;
    display: block;
    line-height: 40px;
    height: auto;
  }
  .nav .navigation-box li {
    padding: 0 20px;
    color: white;
    font-weight: 600;
  }
  .nav .navigation-box li a {
    color: white;
  }
  .nav .navigation-box li a:hover {
    color: #f15b6c;
  }
  .nav .contacts {
    display: none !important;
  }
  .nav .media {
    display: none !important;
  }
  .nav .dropmenu {
    display: block;
  }
  .nav .dropdown {
    display: none;
  }
}
